@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #111827;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
